table {
	width: 100%;
	color: inherit;
	border-collapse: collapse;
}

thead {
	background: var(--bg-dark);

	:--colored-dark & {
		background: var(--bg-light);
	}
}

th, td {
	padding: var(--line-height-half) var(--line-height-half);

	text-align: left;
	line-height: var(--line-height);
}

th {
	font-family: var(--heading-font-family);
	font-weight: 400;
	font-style: inherit;
}

table.\+compact {
	font-size: 12px;
}

table.\+stripe > tbody > tr:nth-child(2n) > td {
	background-color: rgba(0, 0, 0, 0.1);
}
