/**
 * Styles for the main header of an application.
 */

.navbar {
	display: flex;
	align-content: center;
	z-index: 1000;

	padding: 0 var(--line-height);

	background: var(--header-bg);
	color: var(--header-fg);

	> :nth-child(n+2) {
		margin-left: var(--line-height);
	}

	&__title {
		font-family: var(--heading-font-family);
		font-size: var(--h3-font-size);
		line-height: var(--line-height-x2);

		color: inherit;
		text-decoration: none;
	}

	ul {
		display: flex;
		margin: 0;
		padding: 0;

		> li {
			display: inline;

			> a {
				display: block;
				box-sizing: border-box;

				text-decoration: none;

				color: var(--header-link-fg);
				color: inherit;

				border-bottom: 3px solid transparent;
				transition: border-color 150ms ease-in;

				line-height: calc(var(--line-height-x2) - 3px);

				padding: 0 10px;

				&:hover {
					border-color: #888;
				}
			}

			&[data-selected] > a {
				border-color: #444;
			}
		}
	}
}
