ds-app {
	display: block;

	.main > ds-area {
		margin: 0;
		padding: var(--line-height);
	}

	&.\+sticky-navbar {
		@media (--medium-and-up) {
			padding-top: var(--line-height-x2);
		}

		.app-navbar {
			box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);

			@media (--medium-and-up) {
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
			}

			&:not([class^="fill-"], [class*=" fill-"]) {
				background: #fff;
			}
		}
	}
}

ds-bar {
	display: block;

	line-height: var(--line-height-x2);

	&:--colored {
		padding-left: var(--line-height-half);
		padding-right: var(--line-height-half);
	}

	&.\+split {
		display: flex;
		height: var(--line-height-x2);
		align-items: center;

		> :first-child {
			flex: 1;
		}
	}
}

ds-app-nav {

}

ds-nav-selector {
	display: block;

	padding: var(--line-height-half);

	text-align: right;

	@media (--medium-and-up) {
		display: none;
	}
}

ds-nav-container {
	display: none;

	@media (--medium-and-up) {
		display: block;
	}

	&.\+active {
		display: block;
	}
}

ds-area {
	display: block;

	margin-top: var(--line-height);
	margin-left: -var(--line-height-half);
	margin-right: -var(--line-height-half);
	padding: 0 var(--line-height-half);

	&:--colored {
		padding-top: var(--line-height-half);
		padding-bottom: var(--line-height-half);
	}

	> h1, > h2, > h3, > h4, > h5 {
		&:first-child {
			margin-top: 0;
		}
	}

	> ds-area:first-child {
		margin-top: 0;
	}
}
