---
title: Cookie
---
{% extends "layouts/page.html" %}

{% block main %}
<ds-area class="fill-green-600">
	<h1>Devious</h1>
	<p>CSS and JS for those lazy webapps</p>
</ds-area>

<ds-area>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in pellentesque nisi, nec pellentesque quam. Ut ornare pretium libero, elementum fringilla nisl imperdiet non. Pellentesque imperdiet rutrum gravida. Duis dictum vitae enim ac sodales. Sed vel hendrerit dui, vitae condimentum diam. Suspendisse scelerisque non tellus dapibus bibendum. Nunc sodales mollis ante, nec hendrerit lorem mattis vel. Nunc egestas convallis bibendum. Suspendisse id massa eget nunc viverra fermentum quis sit amet justo.</p>

	<h2>Sub</h2>

	<p>Vivamus egestas risus eu risus placerat, pharetra fermentum tellus cursus. Etiam a egestas eros, sit amet porta justo. Nulla maximus gravida mauris eu pellentesque. Donec vehicula neque ac massa tincidunt, sed convallis velit posuere. Etiam lacus diam, faucibus ac semper non, fringilla vel nisl. Vivamus semper cursus sem, ut interdum diam porta eu. Aliquam erat volutpat. Phasellus vel vulputate justo, in faucibus dui. Donec faucibus, lacus eu molestie sollicitudin, risus velit condimentum odio, eleifend efficitur est tortor quis tortor. Integer mattis tempor libero, lobortis tincidunt justo.</p>
</ds-area>
{% endblock %}
