---
title: Layout
---
{% extends "layouts/page.html" %}
{% set section = 'layout' %}

{% import 'utils.nunjucks' as utils %}

{% block main %}
<ds-area class="fill-green-600">
	<h1>Layout</h1>
	<p>Standard ways to create your app layout</p>
</ds-area>

<ds-area>
	{% call utils.pattern("Standard") -%}
	<ds-app>
		<nav class="navbar">
			<a class="navbar__title" href="/">App name</a>
			<ul>
				<li data-selected>
					<a href="#">Link 1</a>
				</li>
				<li>
					<a href="#">Link 2</a>
				</li>
			</ul>
		</nav>
		<main class="main" id="main" role="main">
			<ds-area class="fill-grey-900">
				<h1>Title</h1>
			</ds-area>
		</main>
	</ds-app>
	{%- endcall %}
</ds-area>
{% endblock %}
