form {
	margin: 0;
	margin-bottom: var(--line-height);

	ds-area > &:last-child {
		margin-bottom: 0;
	}
}

mara-form {
	display: block;
}

ds-form-control {
	display: block;
	padding-bottom: calc(var(--line-height-half) / 2);

	> label, > :--input {
		display: block;

		box-sizing: border-box;
		width: 100%;
	}

	> :--input {
		margin-top: calc(var(--line-height-half) / 2) ;
	}
}

:--input, ds-input-addon {
	transition: all 200ms ease-in-out;
}

:--input {
	padding: 0 var(--line-height-half);

	line-height: calc(var(--line-height) * 1.5 - 4px);

	background: transparent;
	color: inherit;;

	border: 2px solid var(--input-border-normal);
	border-radius: var(--input-border-radius);

	&[required] {
		border-color: var(--input-border-required);
	}

	&:--focused {
		outline: none;
		border-color: var(--input-border-focus);
	}

	&.mara-changed:invalid {
		border-color: var(--input-border-invalid);
		/*background-color: var(--input-background-invalid)*/;

		&:focus {
			border-color: color(var(--input-border-invalid) shade(40%));
		}
	}

	&.\+solid {
		background: var(--input-bg);
		color: var(--input-fg);
	}

	:--colored-dark & {
		border: 2px solid var(--input-border-light-normal);

		&[required] {
			border-color: var(--input-border-light-required);
		}

		&:--focused {
			border-color: var(--input-border-light-focus);
		}

		&.mara-changed:invalid {
			border-color: var(--input-border-light-invalid);

			&:focus {
				border-color: color(var(--input-border-light-invalid) tint(40%));
			}
		}
	}
}

select {
	height: calc(var(--line-height) * 1.5);
}

option {
	color: #333;
	background: #fff;
}

textarea {
	line-height: var(--line-height);

	padding-top: calc(var(--line-height-half) / 2);
	padding-bottom: calc(var(--line-height-half) / 2);
}

input::-webkit-datetime-edit-fields-wrapper {
	padding: 0;
}

input::placeholder {
	color: var(--input-placeholder);

	:--colored-dark & {
		color: var(--input-placeholder-light);
	}
}
