form {
	margin: 0;
	margin-bottom: var(--line-height);
}

ds-form-control {
	display: block;
	padding-bottom: calc(var(--line-height-half) / 2);

	> label, > :--input {
		display: block;

		box-sizing: border-box;
		width: 100%;
	}

	> :--input {
		margin-top: calc(var(--line-height-half) / 2) ;
	}
}

:--input, ds-input-addon {
	transition: all 200ms ease-in-out;
}

:--input {
	padding: 0 var(--line-height-half);

	line-height: calc(var(--line-height) * 1.5 - 4px);

	background: transparent;
	color: inherit;;

	border: 2px solid var(--input-border-normal);
	border-radius: var(--input-border-radius);

	&[required] {
		border-color: var(--input-border-required);
	}

	&:focus, &[focused] {
		outline: none;
		border-color: var(--input-border-focus);
	}

	&.ml-changed:invalid, &.ml-input-error:not(.ml-changed) {
		border-color: var(--input-border-invalid);
		background-color: var(--input-background-invalid);

		&:focus {
			border-color: color(var(--input-border-invalid) shade(40%));
		}
	}

	&.\+solid {
		background: var(--input-bg);
		color: var(--input-fg);
	}
}

input::-webkit-datetime-edit-fields-wrapper {
	padding: 0;
}
