.pagination {
	display: inline-flex;

	border-radius: 3px;
	border: 2px solid var(--border-dark);

	line-height: calc(var(--line-height) * 1.5 - 4px);

	&__current {
		background-color: var(--bg-dark);
	}

	&__divider:after {
		content: '…';
	}

	> a, > span {
		display: inline-block;

		padding: 0 var(--line-height-half);

		text-decoration: none;
	}

	> a {
		&:hover {
			background-color: var(--bg-dark);
		}
	}

	> .pagination__disabled {
		opacity: 0.6;
	}

	> .pagination__previous {
		border-right: 1px solid var(--border-dark);
	}

	> .pagination__next {
		border-left: 1px solid var(--border-dark);
	}
}
