table {
	width: 100%;
	color: inherit;
	border-collapse: collapse;
}

thead {
	background: var(--bg-dark);

	:--colored-dark & {
		background: var(--bg-light);
	}
}

th, td {
	padding: 0 var(--line-height-half);

	text-align: left;
	line-height: var(--line-height-x2);
}

th {
	font-family: var(--heading-font-family);
	font-weight: 400;
	font-style: inherit;
}
