:root {
	--text-color: #2f363b;

	--header-bg: transparent;
	--header-fg: #2f363b;
	--header-link-fg: #2f363b;
	--header-border: #aaa;

	--highlight-color-bg: rgba(0, 0, 0, 0.1);
	--highlight-color-text: #000;
	--light-highlight-color-bg: rgba(255, 255, 255, 0.15);
	--light-highlight-color-text: #fff;

	--bg-dark: rgba(0, 0, 0, 0.1);
	--bg-light: rgba(255, 255, 255, 0.1);

	--border-dark: rgba(0, 0, 0, 0.25);
	--border-darker: rgba(0, 0, 0, 0.5);
	--border-light: rgba(255, 255, 255, 0.25);
	--border-lighter: rgba(255, 255, 255, 0.5);

	/* Basic typography */
	--line-height: 1.5625rem;
	--line-height-x2: calc(var(--line-height) * 2);
	--line-height-half: calc(var(--line-height) / 2);
	--font-size: 1rem;

	--normal-font-family: Roboto, Helvetica, Arial, sans-serif;
	--heading-font-family: Montserrat, Helvetica, Arial, sans-serif;

	--pre-font-size: 0.9rem;

	--h1-font-size: 2.375rem;
	--h2-font-size: 1.8125rem;
	--h3-font-size: 1.3215rem;
	--h4-font-size: 1rem;
	--h5-font-size: 1rem;

	/* Forms */
	--input-bg: #fff;
	--input-fg: #222;

	--input-placeholder: rgba(0, 0, 0, 0.5);
	--input-placeholder-light: rgba(255, 255, 255, 0.5);

	--input-border-radius: 3px;
	--input-border-normal: var(--border-dark);
	--input-border-focus: var(--border-darker);
	--input-border-required: var(--input-border-normal);
	--input-border-invalid: #faa;

	--input-border-light-normal: var(--border-light);
	--input-border-light-focus: var(--border-lighter);
	--input-border-light-required: var(--input-border-light-normal);
	--input-border-light-invalid: color(#f00 alpha(0.5));

	--input-background-invalid: #fee;
	--input-addon-background: #fff;
	--input-addon-color: #555;

	--input-padding-vertical: 10px;
	--input-padding-horizontal: 12px;
}
