<html>
    <head>
		<title>{{ title }} &mdash; Devious</title>
		<link href="/css/main.css" rel="stylesheet">
        <script src="/js/main.js"></script>
    </head>
    <body>
        <mara-page page-title="{{ title }} &mdash; Devious">
    		<ds-app class="+sticky-navbar">
        	        <nav class="navbar app-navbar">
        	            <a class="navbar__title" href="/">Devious</a>
        	            <ul>
        	                <li {% if section == 'components' %}data-selected{% endif %}>
        	                    <a href="/components.html">Components</a>
        	                </li>
        	                <li {% if section == 'layout' %}data-selected{% endif %}>
        	                    <a href="/layout.html">Layout</a>
        	                </li>
        	            </ul>
        	        </nav>
        			<main class="main" id="main" role="main">
        		        {% block main %}
        				{% endblock %}
        			</main>
    		</ds-app>
        </mara-page>
    </body>
</html>
